.error-container {
  text-align: center;
  height: 100%;
}

.error-container h1 {
  margin: 0;
  font-size: 130px;
  font-weight: 300;
}
.return {
  color: rgba(15, 1, 1, 0.6);
  font-weight: 400;
  letter-spacing: -0.04em;
  margin: 0;
}

.return a {
  padding-bottom: 1px;
  color: black;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  -webkit-transition: border-color 0.1s ease-in;
  transition: border-color 0.1s ease-in;
  cursor: pointer;
}

.return a:hover {
  border-bottom-color: black;
}
